.layout {
  height: 100vh;
}
.input {
  border-radius: 16px;
  width: 100%;
}
.send {
  cursor: pointer;
  background-color: #fff;
}
.messageLine {
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
.messageLine:nth-child(even) {
  justify-content: flex-start;
  padding-right: 2rem;
}
.messageLine:nth-child(odd) {
  justify-content: flex-end;
  padding-left: 2rem;
}
.message {
  padding: 1rem;
  background-color: rgb(202, 202, 255);
  max-width: 100%;
  border-radius: 16px;
  align-self: flex-end;
}
.modal {
  padding: 2rem;
}
.logo {
  color: white;
  font-weight: 700;
  padding-right: 1rem;
}
.modalBtn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modalContainer {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
