.layout {
    height: 100vh;
}
.input {
    border-radius: 16px;
    width: 100%;
}
.send {
    cursor: pointer;
    background-color: #fff;
}
.messageLine {
    width: 100%;
    display: flex;
}
.messageLine:nth-child(even) {
    justify-content: flex-start;
}
.messageLine:nth-child(odd) {
    justify-content: flex-end;
}
.message {
    padding: 1rem;
    background-color: rgb(202, 202, 255);
    width: fit-content;
    border-radius: 16px;
    align-self: flex-end;
}
